.listing-wrapper {
  width: 1440px;
  margin: 0 auto;
  background: #FAFAFA;
}

.listing-wrapper .content {
  padding-left: 104px;
  padding-bottom: 40px;
  display: flex;
  padding-top: 38.36px;
}

.listing-wrapper .left-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.listing-wrapper .left-wrapper > div {
  margin-bottom: 24px;
}

.listing-wrapper .right-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listing-wrapper .right-wrapper .title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}